header, main, footer {
  padding-left: 240px;
}

.material-icons {
  font-size: 40px;
}

.side-navbar {
  width: 240px;
  height: 100vh;
}

.lightText {
  color: white;
}

@media only screen and (max-width : 736px) {
  header, main, footer {
    padding-left: 0;
  }
}
