<!DOCTYPE html>
<html ng-app='app'>
  <head>
    <meta charset="utf-8">
    <title>Mike J Williams</title>

    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="css/text.css">
    <link type="text/css" rel="stylesheet" href="css/skills.css">
    <link type="text/css" rel="stylesheet" href="css/cards.css">

  </head>

  <body ng-controller="MainController" class="blue">
    <!-- body templating  -->
    <div class="row headerBackground">
      <!-- start header band -->
      <div class="container valign-wrapper">

        <!-- profile picture -->
        <div class="col s4">
          <div class"row">
            <img src="images/profile.jpg" alt="" class="circle responsive-img z-depth-2"> <!-- notice the "circle" class -->
          </div>
        </div>

        <!-- name,education,ge-business,location -->
        <div class="col s8">
            <div class"row">
              <h1 class="nameText gv center-align">{{name}}</h1>
            </div>
            <div class"row">
              <div class="col s4">
                <div class="container iconPadding">
                  <img src="images/ge.png" alt="" class="circle responsive-img z-depth-1"> <!-- notice the "circle" class -->
                </div>
                <h5 class="nameText roboto fw-100 center-align">{{geBusiness1}}</h5>
                <h5 class="nameText noPadding roboto fw-100 center-align">{{geBusiness2}}</h5>
              </div>
              <div class="col s4">
                <div class="container iconPadding">
                  <img src="images/locationIcon.png" alt="" class="circle responsive-img z-depth-1"> <!-- notice the "circle" class -->
                </div>
                <h5 class="nameText roboto fw-100 center-align">{{locationCityState}}</h5>
                <h5 class="nameText noPadding roboto fw-100 center-align">{{locationCountry}}</h5>
              </div>
              <div class="col s4">
                <div class="container iconPadding">
                  <img src="images/education.png" alt="" class="circle responsive-img z-depth-1"> <!-- notice the "circle" class -->
                </div>
                <h5 class="nameText roboto fw-100 center-align">{{education1}}</h5>
                <h5 class="nameText noPadding roboto fw-100 center-align">{{education2}}</h5>
            </div>
          </div>
        </div>

      <!-- end header band -->
      </div>
    </div>

    <div class="row">
      <!-- program interests -->
      <div class="col s6">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s12">
              <h4 class="roboto fw-200 left-align">Program Interests</h4>
              <table>
                <tbody>
                  <tr ng-repeat="interest in interests">
                    <td>- {{interest}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <!-- rotations -->
      <div class="col s6">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <h3 class="flow-text">rotations</h3>
          </div>
        </div>
      </div>
    </div>

    <!-- skills -->
    <div class="row">
      <div class="col s12">
        <div class="card-panel grey lighten-5 z-depth-1">
          <h3 class="flow-text">Skills</h3>
          <div class="row">
            <div class="col s4">
              <div class="row valign-wrapper" ng-repeat="skill in skills">
                <div class="progress">
                  <div class="goal" style="width: {{skill.goal}}">
                    <h6 class="nameText noPadding roboto fw-100 right-align">{{skill.goal}}</h6>
                    <div class="determinate" style="width: {{skill.perc}}">
                      <div class="col s6"><h6 class="nameText noPadding roboto fw-100 left-align">{{skill.name}}</h6></div>
                      <div class="col s6"><h6 class="nameText noPadding roboto fw-100 right-align">{{skill.perc}}</h6></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col s4">
              <div class="row valign-wrapper" ng-repeat="skill in skillsDormant" >
                <div class="progress">
                    <div class="determinate" style="width: {{skill.perc}}">
                      <div class="row valign-wrapper">
                        <div class="col s6">
                          <h6 class="nameText noPadding roboto fw-100 left-align">{{skill.name}}</h6></div>
                        <div class="col s6">
                          <h6 class="nameText noPadding roboto fw-100 right-align">{{skill.perc}}</h6></div>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    <div class="row">

      <div class="col s6">
        <!-- experience -->
        <div class="row">
          <div class="card-panel grey lighten-5 z-depth-1">
            <div class="row valign-wrapper">
              <h3 class="flow-text">experience</h3>
            </div>
          </div>
        </div>
      </div>

      <!-- Fun facts/Personalize this part -->
      <div class="col s6">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <h3 class="flow-text">fun facts</h3>
          </div>
        </div>
      </div>
    </div>


    <!-- end body templating -->

    <!--Import libraries here-->
    <script src="js/angular.js"></script>
    <script src="js/angular-ui-router.js"></script>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>

    <script src="js/app.js"></script>

    <script>

    </script>
  </body>
</html>
