<!DOCTYPE html>
<html ng-app='app'>
  <head>
    <meta charset="utf-8">
    <title>Mike J Williams</title>

    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="css/text.css">
    <link type="text/css" rel="stylesheet" href="css/skills.css">

  </head>

  <body>
    <!-- body templating  -->
    <div class="row headerBackground">
      <!-- start header band -->
      <div class="container valign-wrapper">

        <!-- profile picture -->
        <div class="col s4">
          <div class"row">
            <img src="images/profile.jpg" alt="" class="circle responsive-img z-depth-2"> <!-- notice the "circle" class -->
          </div>
        </div>

        <!-- name,education,ge-business,location -->
        <div class="col s8">
            <div class"row">
              <h1 class="nameText gv center-align">Michael Williams</h1>
            </div>
            <div class"row">
              <div class="col s4">
                <div class="container iconPadding">
                  <img src="images/ge.png" alt="" class="circle responsive-img z-depth-1"> <!-- notice the "circle" class -->
                </div>
                <h5 class="nameText roboto fw-100 center-align">GE Intelligent</h5>
                <h5 class="nameText noPadding roboto fw-100 center-align">Platforms</h5>
              </div>
              <div class="col s4">
                <div class="container iconPadding">
                  <img src="images/locationIcon.png" alt="" class="circle responsive-img z-depth-1"> <!-- notice the "circle" class -->
                </div>
                <h5 class="nameText roboto fw-100 center-align">Foxboro, MA</h5>
                <h5 class="nameText noPadding roboto fw-100 center-align">USA</h5>
              </div>
              <div class="col s4">
                <div class="container iconPadding">
                  <img src="images/education.png" alt="" class="circle responsive-img z-depth-1"> <!-- notice the "circle" class -->
                </div>
                <h5 class="nameText roboto fw-100 center-align">University of</h5>
                <h5 class="nameText noPadding roboto fw-100 center-align">Notre Dame</h5>
            </div>
          </div>
        </div>

      <!-- end header band -->
      </div>
    </div>

      <div class="row">
        <!-- program interests -->
        <div class="col s6">
          <div class="card-panel grey lighten-5 z-depth-1">
            <div class="row valign-wrapper">
              <h3 class="condensed light flow-text">program interests</h3>
            </div>
          </div>
        </div>

        <!-- rotations -->
        <div class="col s6">
          <div class="card-panel grey lighten-5 z-depth-1">
            <div class="row valign-wrapper">
              <h3 class="flow-text">rotations</h3>
            </div>
          </div>
        </div>
      </div>


      <div class="row">

        <div class="col s6">
          <!-- experience -->
          <div class="row">
            <div class="card-panel grey lighten-5 z-depth-1">
              <div class="row valign-wrapper">
                <h3 class="flow-text">experience</h3>
              </div>
            </div>
          </div>

          <!-- skills -->
          <div class="row" ng-init="skills = [{name:'JS',perc:'75%',goal:'95%'},
                                              {name:'HTML',perc:'92%',goal:'98%'}];
                                    skillsDormant = [{name:'C++',perc:'65%'},
                                                    {name:'C',perc:'85%'},
                                                    {name:'Objective-C',perc:'75%'}];">
            <div class="card-panel grey lighten-5 z-depth-1">
              <h3 class="flow-text">Skills: Current Ability and Growth Goal</h3>
              <div class="row valign-wrapper">

                <!-- skill #1 -->
                <!-- <div class="radial-progress" data-progress="10">
                  <div class="circle">
                    <div class="mask full">
                      <div class="fill"></div>
                    </div>
                    <div class="mask half">
                      <div class="fill"></div>
                      <div class="fill fix"></div>
                    </div>
                    <div class="shadow"></div>
                  </div>
                  <div class="inset">
                    <div class="percentage"></div>
                  </div>
                </div> -->

              </div>
              <div class="row valign-wrapper" ng-repeat="skill in skills" >

                <div class="progress">
                  <div class="goal" style="width: {{skill.goal}}">
                    <h6 class="nameText noPadding roboto fw-100 right-align">{{skill.goal}}</h6>
                    <div class="determinate" style="width: {{skill.perc}}">

                      <div class="row valign-wrapper">
                        <div class="col s6">
                          <h6 class="nameText noPadding roboto fw-100 left-align">{{skill.name}}</h6>
                        </div>
                        <div class="col s6">
                          <h6 class="nameText noPadding roboto fw-100 right-align">{{skill.perc}}</h6>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>

              </div>

              <div class="row valign-wrapper" ng-repeat="skill in skillsDormant" >

                <div class="progress">
                    <div class="determinate" style="width: {{skill.perc}}">

                      <div class="row valign-wrapper">
                        <div class="col s6">
                          <h6 class="nameText noPadding roboto fw-100 left-align">{{skill.name}}</h6>
                        </div>
                        <div class="col s6">
                          <h6 class="nameText noPadding roboto fw-100 right-align">{{skill.perc}}</h6>
                        </div>
                      </div>

                    </div>
                </div>

              </div>

            </div>
          </div>
        </div>



        <!-- Fun facts/Personalize this part -->
        <div class="col s6">
          <div class="card-panel grey lighten-5 z-depth-1">
            <div class="row valign-wrapper">
              <h3 class="flow-text">fun facts</h3>
            </div>
          </div>
        </div>
      </div>


    <!-- end body templating -->

    <!--Import libraries here-->
    <script src="js/angular.js"></script>
    <script src="js/angular-ui-router.js"></script>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>

    <script src="js/app.js"></script>

    <script>

    </script>
  </body>
</html>
